In [5]:
import requests

url = 'https://openapi-test-u1jw.onrender.com/pico_w/?count=3'

r = requests.get(url=url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-26 10:43:15', 'address': 'chicken_KFC', 'temperature': 24.70368, 'light': 49196.0}, {'date': '2024-1-26 10:43:21', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 44810.0}, {'date': '2024-1-26 10:43:27', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 44954.0}]

In [6]:
import pandas as pd

pd.DataFrame(data)

                 date      address  temperature    light
0  2024-1-26 10:43:15  chicken_KFC     24.70368  49196.0
1  2024-1-26 10:43:21  chicken_KFC     27.51254  44810.0
2  2024-1-26 10:43:27  chicken_KFC     27.51254  44954.0